.login-container {
    width: 300px;
    margin: 100px auto;
    text-align: center;
}
  
h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}
  
.login-form {
    display: flex;
    flex-direction: column;
}
  
.input-group {
    position: relative;
    margin-bottom: 15px;
}
  
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}
  
.clear-btn {
    position: absolute;
    right: -15px; 
    bottom: 0px;    
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    color: #aaa;
}

  
.remember-me {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
  
.remember-me input {
    margin-right: 10px;
}
  
.login-btn,
.register-btn {
    width: 108%; /* 버튼의 크기를 입력창과 동일하게 설정 */
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
}

/* 로그인 버튼 */
.login-btn {
    background-color: #007bff;
    color: white;
    border: none;
}
  
/* 회원가입 버튼 */
.register-btn {
    background-color: white;
    color: white;
    border: 1px solid #ccc;
    margin-top: 10px;
    margin-left: -1px;
}
