.popup-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  max-width: 800px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.popup-header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

.popup-header span {
  cursor: pointer;
  font-weight: bold;
}

.active {
  color: #007bff;
}

.popup-content {
  display: flex;
  padding: 20px;
}

.text-section {
  display: flex;
  width: 100%;
}

.left-section,
.right-section {
  flex: 1;
  margin: 10px; /* 기본 여백 추가 */
}

.left-section {
  display: flex;
  flex-direction: column;
}

.right-section {
  display: flex;
  flex-direction: column;
}

/* 두 섹션 사이에 추가적인 여백을 줍니다 */
.left-section {
  margin-right: 40px; /* 오른쪽 섹션과의 간격 */
}

.input-section {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
}

textarea {
  width: 100%;
  height: 80px;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 10px;
  resize: none;
}

button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 5px;
}

button.disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.result-section,

.image-grid {
  display: flex;
  flex-wrap: wrap;
}

.image-grid div {
  margin: 5px;
}

.image-grid img {
  width: 100px; /* 이미지 크기 조정 */
  height: auto;
  cursor: pointer;
}

.selected {
  border: 2px solid #007bff;
}

h3 {
  margin-bottom: 10px;
}
